<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @primeminester.name %>
</p>

<p>
  <strong>Duriation:</strong>
  <%= @primeminester.duriation %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @primeminester.discription %>
</p>

<%= link_to 'Edit', edit_primeminester_path(@primeminester) %> |
<%= link_to 'Back', primeminesters_path %>
